In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('income.csv')

In [3]:
df.head(3)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K

In [4]:
# Preprocessig the Dataset

In [5]:
df=df.drop(['fnlwgt','education','native.country','race'],axis=1)

In [6]:
# Removing the balnk spce

In [7]:
df.isin(['?']).sum()

age                  0
workclass         1429
education.num        0
marital.status       0
occupation        1434
relationship         0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
income               0
dtype: int64

In [8]:
df.replace('?',np.nan,inplace =True)

,age,workclass,education.num,marital.status,occupation,relationship,sex,capital.gain,capital.loss,hours.per.week,income
0,40,Self-emp-not-inc,15,Married-civ-spouse,Prof-specialty,Husband,Male,99999,0,70,>50K
1,30,Private,9,Divorced,Craft-repair,Not-in-family,Female,0,0,40,<=50K
2,46,Private,10,Married-civ-spouse,Adm-clerical,Husband,Male,0,0,40,>50K
3,32,Private,11,Married-civ-spouse,Other-service,Husband,Male,0,0,60,>50K
4,54,NaN,1,Married-civ-spouse,NaN,Wife,Female,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
24995,40,Private,10,Never-married,Adm-clerical,Not-in-family,Female,0,0,40,<=50K
24996,31,Local-gov,13,Never-married,Prof-specialty,Not-in-family,Female,0,0,50,<=50K
24997,38,Federal-gov,13,Married-civ-spouse,Prof-specialty,Husband,Male,0,0,40,>50K
24998,23,Private,13,Never-married,Prof-specialty,Not-in-family,Female,0,0,40,<=50K
24999,60,Private,6,Married-civ-spouse,Transport-moving,Husband,Male,0,0,40,<=50K

In [9]:
df.isnull().sum()

age                  0
workclass         1429
education.num        0
marital.status       0
occupation        1434
relationship         0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
income               0
dtype: int64

In [10]:
# lets drop this missing values (Rows)

In [11]:
df.dropna(inplace=True)

In [12]:
# LEst encode the targeted values

In [13]:
df['income']=df['income'].map({
    '<=50K':0,
    '>50K':1
})

In [14]:
# Lets check :
df['income'].value_counts()

income
0    17670
1     5896
Name: count, dtype: int64

In [15]:
np.unique(df['income'])

array([0, 1])

In [16]:
# Lets separate Dependent and independent feature

In [17]:
X=df.drop('income',axis=1)
y=df['income']

In [18]:
# ONE -Hot Encoding Categorical features

In [19]:
X.select_dtypes(include='object').columns

C:\Users\91620\AppData\Local\Temp\ipykernel_14236\2418744409.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  X.select_dtypes(include='object').columns

Index(['workclass', 'marital.status', 'occupation', 'relationship', 'sex'], dtype='str')

In [20]:
X=pd.get_dummies(X,drop_first=True)

In [21]:
X

,age,education.num,capital.gain,capital.loss,hours.per.week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,sex_Male
0,40,15,99999,0,70,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,True
1,30,9,0,0,40,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,46,10,0,0,40,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,32,11,0,0,60,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,63,10,0,0,16,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,40,10,0,0,40,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
24996,31,13,0,0,50,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
24997,38,13,0,0,40,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
24998,23,13,0,0,40,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
24999,60,6,0,0,40,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler=StandardScaler()

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [26]:
# Lets scale the data

In [27]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [28]:
# Lets build the ann

In [35]:
import tensorflow as tf
from tensorflow import keras 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [30]:
model=Sequential()

In [38]:
model.add(Dense(64,activation='relu',input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

model.add(Dense(32,activation='relu'))
model.add(Dropout(0.3))

model.add(Dense(1,activation='sigmoid'))

In [39]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy'],
)

In [33]:
y_train.unique()

array([0, 1])

In [40]:
history=model.fit(X_train,y_train,epochs=50,batch_size=32,validation_split=0.3)

Epoch 1/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.8548 - loss: 0.3473 - val_accuracy: 0.8436 - val_loss: 0.3490
Epoch 2/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8719 - loss: 0.2856 - val_accuracy: 0.8436 - val_loss: 0.3602
Epoch 3/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8754 - loss: 0.2787 - val_accuracy: 0.8404 - val_loss: 0.3586
Epoch 4/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8728 - loss: 0.2792 - val_accuracy: 0.8426 - val_loss: 0.3552
Epoch 5/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8756 - loss: 0.2734 - val_accuracy: 0.8361 - val_loss: 0.3566
Epoch 6/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8781 - loss: 0.2721 - val_accuracy: 0.8436 - val_loss: 0.3421
Epoch 7/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8742 - loss: 0.2727 - val_accuracy: 0.8335 - val_loss: 0.3588
Epoch 8/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8753 - loss: 0.2718 - val_accuracy: 0.8343 - val_loss: 0.3829
Epoch 9/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8773 - loss: 0.2689 - val_accuracy: 0.8386 - val_loss: 0.3543
Epoch 10/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8746 - loss: 0.2662 - val_accuracy: 0.8329 - val_loss: 0.3786
Epoch 11/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8759 - loss: 0.2683 - val_accuracy: 0.8220 - val_loss: 0.3934
Epoch 12/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8803 - loss: 0.2635 - val_accuracy: 0.8337 - val_loss: 0.3568
Epoch 13/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8798 - loss: 0.2622 - val_accuracy: 0.8359 - val_loss: 0.3911
Epoch 14/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8801 - loss: 0.2658 - val_accuracy: 0.8381 - val_loss: 0.3595
Epoch 15/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8797 - loss: 0.2634 - val_accuracy: 0.8327 - val_loss: 0.3794
Epoch 16/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8772 - loss: 0.2609 - val_accuracy: 0.8353 - val_loss: 0.3723
Epoch 17/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8815 - loss: 0.2582 - val_accuracy: 0.8278 - val_loss: 0.4117
Epoch 18/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8826 - loss: 0.2584 - val_accuracy: 0.8333 - val_loss: 0.3587
Epoch 19/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8796 - loss: 0.2583 - val_accuracy: 0.8214 - val_loss: 0.3985
Epoch 20/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8788 - loss: 0.2579 - val_accuracy: 0.8163 - val_loss: 0.4680
Epoch 21/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8813 - loss: 0.2554 - val_accuracy: 0.8313 - val_loss: 0.3700
Epoch 22/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8831 - loss: 0.2567 - val_accuracy: 0.8301 - val_loss: 0.3781
Epoch 23/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8814 - loss: 0.2580 - val_accuracy: 0.8226 - val_loss: 0.4061
Epoch 24/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8827 - loss: 0.2590 - val_accuracy: 0.8347 - val_loss: 0.3747
Epoch 25/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8801 - loss: 0.2569 - val_accuracy: 0.8412 - val_loss: 0.3671
Epoch 26/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8833 - loss: 0.2518 - val_accuracy: 0.8313 - val_loss: 0.3706
Epoch 27/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8827 - loss: 0.2531 - val_accuracy: 0.8396 - val_loss: 0.3650
Epoch 28/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8846 - loss: 0.2535 - val_accuracy: 0.8262 - val_loss: 0.4133
Epoch 29/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8827 - loss: 0.2548 - val_accuracy: 0.8252 - val_loss: 0.3776
Epoch 30/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8819 - loss: 0.2507 - val_accuracy: 0.8242 - val_loss: 0.4075
Epoch 31/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8838 - loss: 0.2491 - val_accuracy: 0.8222 - val_loss: 0.4047
Epoch 32/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8825 - loss: 0.2510 - val_accuracy: 0.8216 - val_loss: 0.4081
Epoch 33/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8831 - loss: 0.2496 - val_accuracy: 0.8260 - val_loss: 0.4041
Epoch 34/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8842 - loss: 0.2479 - val_accuracy: 0.8297 - val_loss: 0.4144
Epoch 35/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8841 - loss: 0.2478 - val_accuracy: 0.8301 - val_loss: 0.3940
Epoch 36/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8828 - loss: 0.2486 - val_accuracy: 0.8345 - val_loss: 0.3711
Epoch 37/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8827 - loss: 0.2489 - val_accuracy: 0.8297 - val_loss: 0.3713
Epoch 38/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8823 - loss: 0.2491 - val_accuracy: 0.8236 - val_loss: 0.3909
Epoch 39/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8824 - loss: 0.2460 - val_accuracy: 0.8303 - val_loss: 0.3886
Epoch 40/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8850 - loss: 0.2464 - val_accuracy: 0.8388 - val_loss: 0.3728
Epoch 41/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8817 - loss: 0.2463 - val_accuracy: 0.8220 - val_loss: 0.4336
Epoch 42/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8831 - loss: 0.2454 - val_accuracy: 0.8196 - val_loss: 0.4001
Epoch 43/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8840 - loss: 0.2456 - val_accuracy: 0.8238 - val_loss: 0.3965
Epoch 44/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8866 - loss: 0.2447 - val_accuracy: 0.8309 - val_loss: 0.3674
Epoch 45/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8881 - loss: 0.2402 - val_accuracy: 0.8317 - val_loss: 0.3862
Epoch 46/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8866 - loss: 0.2455 - val_accuracy: 0.8161 - val_loss: 0.4121
Epoch 47/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8858 - loss: 0.2424 - val_accuracy: 0.8293 - val_loss: 0.3796
Epoch 48/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8839 - loss: 0.2397 - val_accuracy: 0.8331 - val_loss: 0.4460
Epoch 49/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8859 - loss: 0.2423 - val_accuracy: 0.8270 - val_loss: 0.3925
Epoch 50/50
361/361 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8855 - loss: 0.2417 - val_accuracy: 0.8315 - val_loss: 0.4157

In [41]:
y_pred=model.predict(X_test)

221/221 ━━━━━━━━━━━━━━━━━━━━ 0s 963us/step

In [46]:
y_pred=y_pred > 0.5

In [50]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_pred,y_test)
print(accuracy)

0.8352192362093352